/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

/* general styles  */
:root{
    --mainColor: hsl(229deg 39% 14%);
    --secondaryColor: #fff;
    --btnColor: hsl(267deg 99% 59%);  
    --listItemColor: hsl(203deg 99% 54%);
} 
.light{
    --mainColor: #F8E5E5;
    --secondaryColor: #FA255E;
    --btnColor: #000000;  
    --listItemColor: hsl(203deg 99% 54%);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    word-break: break-all;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    transition: 0.5s ease-in-out;
}

ul{
    list-style-type: none ;
}



/* start header styles  */
h1{
    text-align: center;
    padding: 8px;
    position: relative;
}
h1::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;  
    transform: translate(-50%,-50%);
    width: 60px;
    height: 2px;
    background-color: var(--btnColor);
}
header .mode{
    position: absolute;
    cursor: pointer;
    z-index: 2;
    right: 10px;
    top: 10px;
    transform: rotate(-25deg);
    color: var(--secondaryColor);
}


/* start main styles  */

main {
    text-align: center;
}

.main-title{
   font-size: 1.4em;
   margin-top: 10px;
   margin-bottom: 10px;

}

main form{
    margin-top: 20px;
}

main form .todo-input{
    font-size: 1.1em;
    background-color: var(--mainColor);
    color:var(--secondaryColor) ;
    border: 1px solid var(--btnColor);
    padding: 8px;
    border-radius: 5px;
}
main form .todo-add-btn{
    font-size: 1.1em;
    background-color: var(--btnColor);
    color: var(--secondaryColor);
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 2px;
}


/* start javascript styles  */
.todo-list{
    margin-top: 40px;
}
.new-todo{
    background-color:  var(--listItemColor) ; 
    color: white;
    width: 70%; 
    margin: 20px auto;
    text-align: left;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.new-todo .icons{
    width: 30%;
    text-align: right;
}

.new-todo .icons i{
   margin-right: 3px;
   font-size: 1.1em;
}

@media (max-width: 600px) {
    .new-todo{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .new-todo .icons{
        width: auto;
    }
}
/* .card{
    display: flex;
    justify-content: space-between;
} */
 .card{

     width: 80%;
 }

.card .edited-input{
    width: 60%;
    font-size: 1.1em;
    background-color: var(--listItemColor); 
    color:white ;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
.card .todoEdit{
    background-color: var(--listItemColor);
    padding: 5px;
    color: white;
    border: 1px solid white;
    font-size: 1.1em;
    border-radius: 5px;
}
@media (max-width: 600px) {
    .card .edited-input{
        width: 80%;
    }
    .card .todoEdit{
        display: block;
        width: auto;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}